<div class="fade-me-in margin-bottom-lg">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center well">
            <h2>Useful Links</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <img src="../assets/192009_103811_0.jpg" class="img-responsive img-center" />
        </div>
    </div>
    <div class="row margin-top-md">
        <div class="col-md-6 col-md-offset-3">
            <ul>
                <li><a href="http://www.fslhomeworktoolbox.ca/index.php" target="_blank">Homework Toolkit</a></li>
                <li><a href="http://www.languagesonline.org.uk/" target="_blank">languages.online</a></li>
                <li><a href="http://www.uni.edu/becker/french31.html" target="_blank">Best French Websites Index</a></li>
                <li><a href="http://www.french.about.com" target="_blank">french.about.com</a></li>
                <li><a href="http://www.bonpatron.com" target="_blank">bonpatron.com</a></li>
                <li><a href="http://www.education.vic.gov.au/languagesonline/french/french.htm" target="_blank">French languages.online</a></li>
                <li><a href="http://www.conjugation-fr.com/" target="_blank">conjugation-fr.com</a></li>
                <li><a href="http://newslink.org/eufran.html" target="_blank">French newspapers</a></li>
            </ul>
        </div>
    </div>
</div>
