<div class="fade-me-in">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center well">
            <h2>What you can do to help your child in French!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <img src="../assets/192009_103652_0.jpg" class="img-responsive img-center" />
        </div>
    </div>
    <div class="row margin-top-md">
        <div class="col-md-6 offset-md-3">
            <ol>
                <li>Make vocabulary flash cards and play some games with your child.</li>
                <li>Encourage your child to review lessons daily.</li>
                <li>Ask your child to watch one French television program or read a French book each week</li>
                <li>The public library offers books in French. Sign a few out and have your child follow along with the
                    book and listening to how words are pronounced.</li>
                <li>Talk about the benefits of learning a language and encourage your child to try to do their best.</li>
            </ol>
        </div>
    </div>
    <div class="row margin-bottom-lg">
        <div class="col-md-6 offset-md-3 text-center">
            <a href="http://www.edu.gov.on.ca/eng/curriculum/elementary/fsl.html" target="_blank">The Ontario
                Curriculum: Elementary</a>
        </div>
    </div>
</div>