<div class="fade-me-in">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well text-center">
        <h2>Grade 1 French</h2>
    </div>
  </div>
  <div class="row">
      <div class="col-md-10 col-md-offset-2">
          <ul class="list-unstyled">
              <li><a href="http://www.madamemacdonald.com/Grade1/Music/Default.aspx" target="_blank">La Musique</a></li>
              <li><a href="http://www.madamemacdonald.com/Grade1/Games/Feelings/Default.aspx" target="_blank">Les Jeux (Games)</a></li>
          </ul>
      </div>
  </div>
</div>