<div class="fade-me-in">
    <div class="row">
        <div class="col-md-8 offset-md-2 well text-center">
            <h2>Grade 1 French</h2>
        </div>
    </div>
    <div class="row margin-bottom-md">
        <div class="col-md-6 offset-md-3">
            <img src="../assets//90114_71128_0.png" class="img-responsive img-center" />
        </div>
    </div>
    <div class="row margin-bottom-lg">
        <div class="col-md-8 offset-md-2">
            <p>Dear Families:</p>
            <p>Bonjour! We would like to take this opportunity to welcome you and your child to the 2016/2017 school
                year. As your child's French teachers, we would like to give you some information about the new Primary
                Core French Program.</p>
            <p>Your child will receive 40 minutes of Core French instruction per week. Primary Core French will lay the
                foundation for the development of strong oral communication skills. The emphasis will be on listening
                and speaking. These will be the only strands evaluated on the Report Card.</p>
            <p>We will be covering such topics as:</p>
            <ul>
                <li>introducing ourselves in French</li>
                <li>counting numbers 1-10</li>
                <li>naming the colours</li>
                <li>identifying weather conditions and clothing</li>
                <li>other authentic and relevant topics throughout the year</li>
            </ul>
            <p>We are looking forward to an exciting journey and a chance for your child to experience the French
                culture this year. If you have any questions or concerns, please do not hesitate to contact us at the
                school.</p>
            <p>
                Sincerely,<br />
                Madame D’Elia <br />
                Core French Teacher
            </p>
        </div>
    </div>
</div>