<div class="fade-me-in">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center well">
            <h2>Why is French Important?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            LEARNING FRENCH WILL:
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 margin-top-md">
            <ul>
                <li>increase your job opportunities and salary potential</li>
                <li>increase your appreciation of other people and cultures, and develop international friendships</li>
                <li>improve your vocabulary in English since 40% of English vocabulary comes from French</li>
                <li>improve your first language skills</li>
                <li>increase your problem solving skills and improve your memory</li>
                <li>enhance your travel abroad to Canada, the Caribbean, Europe, Africa, and parts of Asia</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center well">
            <h2>Why learn a foreign language?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>Communication</h3>
            <p>
                An obvious reason to learn a new language is to be able to communicate with the people who speak it.
                This includes both the people you meet when traveling as well as people in your own community. Your
                trip to another country will be greatly enhanced in both ease of communication and friendliness if you
                speak the language. Speaking another's language shows respect for that culture, and people in every
                country prefer it when tourists make an effort to speak the local language, even if all you can say in
                it is "hello" and "please." In addition, learning another language can also help you to communicate
                with local immigrant populations at home.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>Cultural understanding</h3>
            <p>
                Speaking a new language helps you to get to know another people and culture, as language and culture go
                hand in hand. Because language simultaneously defines and is defined by the world around us, learning
                another language opens one's mind to new ideas and new ways of looking at the world.
            </p>
            <p>
                For example, the fact that many languages have more than one translation of "you" indicates that these
                languages (and the cultures that speak them) place a greater emphasis on distinguishing between
                audiences than does English. French distinguishes between tu (familiar) and vous (formal/plural), while
                <a href="http://www.elearnspanishlanguage.com/" target="_blank">Spanish</a> has five words that
                indicate one of four categories: familiar/singular (tú or vos, depending on the country),
                familiar/plural (vosotros), formal/singular (Ud.), and formal/plural (Uds.). Meanwhile, Arabic
                distinguishes between nta (masculine singular), nti (feminine singular), and ntuma (plural). In
                contrast, English uses "you" for masculine, feminine, familiar, formal, singular, and plural. The fact
                that these languages have such different ways of looking at "you" indicates cultural differences
                between the people who speak them: French and Spanish focus on familiarity vs formality, while Arabic
                emphasizes gender. This is just one example of many of the linguistic and cultural differences between
                languages.
            </p>
            <p>
                In addition, when you speak another language, you can enjoy literature, film, and music in the original
                language. It is extremely difficult for a translation to be a perfect replica of the original; the best
                way to understand what the author really meant is to read what the author actually wrote.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h3>Business and careers</h3>
            <p>Speaking more than one language is a skill which will increase your marketability. Schools and employers
                tend to prefer candidates who speak one or more foreign languages. Even though English is widely spoken
                in much of the world, the fact is that the global economy depends on communication. When dealing with
                France, for example, someone who speaks French will have an obvious advantage over someone who doesn't.
                Learn more - Jobs using French (or other languages)</p>
        </div>
    </div>
    <div class="row margin-bottom-lg">
        <div class="col-md-8 offset-md-2">
            <h3>Language enhancement</h3>
            <p>Learning another language can help you to understand your own. Many languages have contributed to the
                development of English, so learning those will teach you where words and even grammatical structures
                are from, and augment your vocabulary to boot. Also, in learning how another language differs from your
                own, you will increase your understanding of your own language. For many people, language is innate -
                we know how to say something, but we don't necessarily know why we say it that way. Learning another
                language can change that.</p>
            <p>Each subsequent language you study will be, in some respects, a little easier, because you've already
                learned how to learn another language. Plus, if the languages are related, such as French and Spanish,
                German and Dutch, or Arabic and Hebrew, some of what you've already learned will apply to the new
                language as well, making the new language that much easier.</p>
        </div>
    </div>
</div>