<div class="fade-me-in margin-bottom-lg">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 well text-center">
            <h2>Les Annonces</h2>
        </div>
    </div>
    <div class="row margin-top-md" *ngIf="!announcement">
        <div class="col-md-12 text-center">
            <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
        </div>
    </div>
    <div class="row margin-top-md" *ngIf="announcement">
        <div class="col-md-6 col-md-offset-3">
            <div [innerHTML]="Announcement"></div>
        </div>
    </div>
</div>
<div class="fade-me-in margin-bottom-lg" *ngIf="announcement && auth.authenticated()">
    <div class="row margin-top-md">
        <div class="col-md-12">
            <ckeditor
                name="editor"
                [(ngModel)]="announcement.body"
                [config]="{
                    toolbarCanCollapse: true,
                    removeButtons: 'Save',
                    height: 600
                }"
                (change)="changed($event)"
                debounce="500">
            </ckeditor>
        </div>
    </div>
</div>