<div class="fade-me-in margin-bottom-lg">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center well">
            <h2>Supplies for French Class</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <img src="../assets/school_supplies.png" class="img-responsive img-center" />
        </div>
    </div>
    <div class="row margin-top-md">
        <div class="col-md-6 col-md-offset-3">
            <p>The following materials are needed for French class for Grades 7 and 8</p>
            <ul>
                <li>a binder with 5 dividers (labels on dividers: Référence, A l'écrit, A l'oral, les examens, les bons points)</li>
                <li>an agenda</li>
                <li>a French/English dictionary</li>
                <li>writing tools (pen, pencil, ruler, eraser, markers/pencil crayons</li>
            </ul>
            <p>If you are unable to purchase these materials, please let me know.</p>
        </div>
    </div>
</div>