<div class="fade-me-in">
    <div class="row margin-top-md">
        <div class="col-md-3 offset-md-2">
            <img src="../assets/Tribes/tribes_1.gif" class="img-responsive" />
        </div>
        <div class="col-md-3 offset-md-3">
            <img src="../assets/Tribes/tribes_2.png" class="img-responsive" />
        </div>
    </div>
    <div class="row d-sm-none d-md-block d-none d-sm-block">
        <div class="col-md-12">
            <img src="../assets/Tribes/tribes_center.jpg" class="img-responsive img-center" />
        </div>
    </div>
    <div class="row margin-bottom-lg">
        <div class="col-md-3 offset-md-2">
            <img src="../assets/Tribes/tribes_3.gif" class="img-responsive" />
        </div>
        <div class="col-md-3 offset-md-3">
            <img src="../assets/Tribes/tribes_4.gif" class="img-responsive" />
        </div>
    </div>
</div>