<div class="fade-me-in">
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Bienvenue!</h1>
                    <p>
                        Bonjour! Thank you for visiting this site.<br />
                        Madame Natalie D'Elia <br />
                        Le français cadre 7 et 8 <br />
                        École Captain R. Wilson <br />
                        Oakville, Ontario <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row margin-bottom-lg">
            <img src="../assets/LePetitPrince_AntoineDeSaintExupery.jpg"
                 alt="Le Petit Prince" class="img-responsive img-center" />
        </div>
        <div class="row margin-bottom-lg">
            <div class="col-md-12">
                <div class="well disclaimer">
                    This website contains links to external websites.  When accessing these links, please be advised you are leaving the HDSB.ca domain.  The Halton District Schoolboard (HDSB) is not responsible for the content, policies, omissions or any issues that may arise when accessing external websites.
                </div>
            </div>
        </div>
    </div>
</div>